.nominee {
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.nominee h2 {
  text-align: left;
}

.nominee-card {
  text-align: left;
  align-items: center;
  background: white;
  margin-bottom: 2%;
  padding: 5%;
  border-radius: 2%;
  border: 3px solid #2774b8;
}

.nominee-card img {
  width: 100%;
}
