.header {
  background-color: white;
}

.desktop-header {
  display: none;
}

header {
  display: flex;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.hamburger {
  height: 30px;
  width: 40px;
  cursor: pointer;
  fill: #25a342;
}

.desktop-nav {
  display: none;
}

.btn-close {
  height: 35px;
  width: 35px;
  cursor: pointer;
  fill: white;
  margin-top: 10%;
  margin-left: 5%;
}

.logo {
  margin-left: 40%;
  height: 8rem;
}

.mobile-nav {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 100vw;
  margin: 0 -5% 0 -5%;
  padding: 0;
  z-index: 100;
  position: absolute;
}

.mobile-nav li {
  list-style: none;
  border-bottom: 1px solid #2774b8;
  padding-bottom: 10px;
  margin-top: 60px;
  width: 100%;
  align-self: center;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
}

.mobile-nav a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 576px) {
  .logo {
    margin-left: 62%;
  }
}

@media screen and (min-width: 640px) {
  .desktop-header {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  header {
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 10%;
  }

  .desktop-header {
    display: flex;
    background-color: #2774b8;
    color: white;
    padding-right: 3%;
    padding-left: 3%;
    align-items: center;
    justify-content: space-between;
  }

  .desktop-header-link {
    width: 5rem;
    display: flex;
    justify-content: space-between;
  }

  .desktop-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .desktop-nav li {
    list-style: none;
  }

  .desktop-nav a {
    text-decoration: none;
    font-weight: 500;
    color: #2774b8;
  }

  .logo {
    margin-left: 0;
    height: 6rem;
  }
}



