#hero {
  text-align: left;
}

.hero {
  padding-left: 5%;
  padding-right: 5%;
}

.hero h1 {
  color: #25a342;
  font-size: 86px;
  line-height: 5rem;
  /* letter-spacing: 1.5rem; */
  margin-top: 1.5%;
  text-transform: uppercase;
  /* font-family: 'cocogoose', sans-serif; */
  font-weight: 900;
  padding-bottom: 0;
  margin-bottom: 0;
}

.hero h2 {
  color: #25a342;
  font-size: 40px;
  font-weight: 400;
}

.hero-paragraph {
  margin-top: 0;
  padding-top: 0;
  font-size: 20px;
}

.hero-date-venue {
  font-size: 28px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
  color: #2774b8;
}

.hero-btn {
  color: white;
  font-size: 24px;
  font-weight: 400;
  background-color: #2774b8;
  padding: 2% 4%;
  /* box-shadow: 0 3px 5px 3px #777; */
  border: none;
  margin: 0 5%;
  text-decoration: none;
}

#about {
  margin: 5% 0 0 0;
  /* border: 3px solid white; */
  background-color: white;
  /* border-radius: 2%; */
  /* font-size: 24px; */

  padding: 3%;
}
